## Übungen zum Kapitel 5
### Einführung in Pandas
Erstellt und überarbeitet: armin.baenziger@zhaw.ch, 16. Januar 2020
***

In [1]:
%autosave 0

Autosave disabled

***

Bevor wir beginnen, laden wir nötige Bibliotheken mit den üblichen Abkürzungen und erstellen zwei Listen und ein Dict:

In [2]:
import numpy as np
import pandas as pd

In [3]:
list1 = [1, -2, 3, 0, 5, 2]
list_bool = [True, True, False, True, False, False]
dict1 = {'a': 100, 'b': 120, 'd': 95,
         'e': 105, 'f': 80, 'g': 105,}

**(A.1)** Erstellen Sie eine Series mit Name `ser1` mit den Werten aus Liste `list1`.

In [7]:
ser1 = pd.Series(list1)
ser1

0    1
1   -2
2    3
3    0
4    5
5    2
dtype: int64

**(A.2)** Ändern Sie den Index von `ser1` in fortlaufende Kleinbuchstaben `a, b, ..., f` mit der Befehlszeile
`ser1.index = list('abcdef')`

In [10]:
ser1.index = list('abcdef')

**(A.3)** Lesen Sie den Wert zum Index `c` aus der Series `ser1` aus.

In [11]:
ser1['c']

3

**(A.4)** Lesen Sie die ersten zwei Werte aus `ser1` aus.

In [12]:
ser1[:2]

a    1
b   -2
dtype: int64

**(A.5)** Lesen Sie den letzten Wert aus `ser1` aus.

In [13]:
ser1[-1]

2

**(A.6)** Lesen Sie die Werte zu den Indizes `b` und `e` (gleichzeitig) aus.

In [14]:
ser1[['b', 'e']]

b   -2
e    5
dtype: int64

**(A.7)** Erstellen Sie eine Kopie der Series `ser1` und nennen Sie diese `ser1_c`. Führen Sie hierzu folgende Befehlszeile aus: `ser1_c = ser1.copy()`

In [15]:
ser1_c = ser1.copy()

**(A.8)** Ersetzen Sie den Wert zum Index `f` der Series `ser1_c` mit dem Wert `-2`.

Folgende Anweisung erzeugt einen logischen Vektor mit `True`, falls der Wert negativ ist und ansonsten `False`.

In [ ]:
ser1_c < 0

Mit folgender Anweisung lesen Sie alle negativen Werte aus `ser1_c` aus:

In [ ]:
ser1_c[ser1_c < 0]

**(A.9)** Ersetzen Sie die negativen Werte in Series `ser1_c` mit `0`.

**(A.10)** Prüfen Sie, ob in der Series `ser1` der Index `g` existiert. Verwenden Sie hierzu die Anweisung `'g' in ser1`.

Betrachten Sie die Series `ser1` und die Liste `list_bool`.

In [ ]:
ser1

In [ ]:
list_bool

**(A.11)** Lesen Sie aus der Series `ser1` nur diejenigen Wert aus, für die die Liste `list_bool` an der entsprechenden Stelle `True` ist.

**(A.12)** Erstellen Sie aus dem Dict `dict1` die Series `ser2`.

**(A.13)** Addieren Sie die zwei Series `ser1` und `ser2`. Speichern Sie das Resultat in der Series `resultat`. Was stellen Sie fest?

**(A.14)** Lesen Sie die Daten ohne `NaN` aus, indem Sie die Methode `notnull` entsprechend einsetzen. (Wir werden später dafür eine separate Methode kennenlernen, die die Auswahl nochmals vereinfacht.)

**(A.15)** Sortieren Sie `ser1` nach den Werten (nicht Index) mit der Methode `sort_values()`.

**(A.16)** Sortieren Sie `ser1` nach den Werten in absteigender Reihenfolge. Tipp: Shif-Tab für Hilfe nach der ersten Klammer der Methode betätigen.

***

Bevor wir weiterfahren erstellen wir eine Series und einen DataFrame:

In [ ]:
np.random.seed(125)
n = 12  

Zivilstand = np.random.choice(['l','v','g','vw'], size=n, replace=True)

dflohn = pd.DataFrame({'Personen_ID': (range(100,100+n)),
  'Lohn': np.random.lognormal(mean=8.6, sigma=0.4, size=n).astype(int),
  'Geschlecht': np.random.choice(['w','m'], size=n, replace=True),
  'Alter': np.random.randint(18, 66, n)})

**(B.1)** Lesen die die ersten fünf Fälle (Zeilen) von `dflohn` aus. Verwenden Sie hierzu die Methode `head()`.

**(B.2)** Lesen Sie die letzten fünf Fälle (Zeilen) von `dflohn` aus. Verwenden Sie hierzu die Methode `tail()`.

**(B.3)** Lesen Sie die Spalte `Lohn` aus dem DataFrame `dflohn` aus.

**(B.4)** Setzten Sie als Index von `dflohn` die Spalte (Variable) `Personen_ID`. Führen Sie hierzu folgende Anweisung aus: `dflohn.set_index('Personen_ID', inplace=True)`. Was bewirkt das Argument `inplace=True`?

**(B.5)** Was bewirkt folgende Anweisung?

In [ ]:
dflohn.rename(columns={'Lohn': 'Gehalt'}, inplace=True)
dflohn.head()

**(B.6)** Fügen Sie den (ebenfalls zuvor erstellten) Array `Zivilstand` dem DataFrame `dflohn` hinzu. Versuchen Sie hierzu folgende Anweisung: `dflohn['Zivilstand'] = Zivilstand`

**(B.7)** Lesen Sie die Daten der Person 104 aus dem Dataframe `dflohn` mit `loc` aus.

**(B.8)** Lesen Sie die Daten der Person 104 aus dem Dataframe `dflohn` mit `iloc` aus. Achtung, die *Position* der Person 104 ist (0, 1, 2, 3) **4**.

**(B.9)** Löschen Sie die Person 101 aus dem DataFrame `dflohn` durch `dflohn.drop(101, inplace=True)`.

**(B.10)** Slicen Sie die Daten der Personen 103 bis und mit 106 aus dem DataFrame `dflohn` .

**(B.13)** Slicen Sie die Variablen `Geschlecht` und `Zivilstand` der Personen 103 bis und mit 106 aus dem DataFrame `dflohn`. Versuchen Sie hieru die Anweisung `dflohn.loc[103:106, ['Geschlecht', 'Zivilstand']]`

**(B.14)** Lesen Sie die Daten der *weiblichen* Personen aus dem DataFrame `dflohn` aus.

**(B.9)** Ersetzen Sie das *Gehalt* von *Person 104* mit dem Fehlwert `NaN` (durch `np.nan` oder `None`).

***

**(C.1)** Bestimmen Sie das maximale Gehalt im Dataframe `dflohn`.

**(C.2)** Wählen Sie die Zeile (Person) aus, die das maximale Gehalt bezieht.

**(C.3)** Bestimmen Sie je das arithmetische Mittel der Variablen `Alter` und `Gehalt` in `dflohn`.

**(C.4)** Bestimmen Sie je den Median der Variablen `Alter` und `Gehalt` in `dflohn`.

**(C.5)** Führen Sie den Befehl `dflohn.describe()` aus. In welcher Zeile befindet sich der Median?

**(C.6)** Erstellen Sie eine Häufigkeitsverteilung der Variable `Zivilstand`. Tipp: Im Pandas-Cheat-Sheet unter "Summarize Data" nachschauen, falls Sie den Namen der Methode vergessen haben.

***

Für den letzten Teil laden wir einige reale Aktienpreisdaten:

In [ ]:
# Beispieldaten:
Preise = pd.read_pickle('../examples/yahoo_price.pkl')
Preise.head()

Damit Diagramme automatisch in den Zellen erscheinen, führen wir folgenden Magic Command aus:

In [ ]:
%matplotlib inline

**(D.1)** Plotten Sie die Preisdaten mit `Preise.plot()`.

**(D.2)** Für den besseren Vergleich der Performance sollten wir die Preisdaten umbasieren. Erstellen Sie das DataFrame `Preise100`, bei dem alle Aktienkurse mit 100 starten. Versuchen Sie hierzu die Anweisung `Preise100 = Preise/Preise.iloc[0]*100`. Plotten Sie die Kurese danach nochmals.

Die nun zu definierende Funktion `HPR()` berechnet die Gesamtrendite (Holding Period Return) in Prozent über den Beobachtungszeitraum für jede Aktie eines Preis-DataFrames.

In [ ]:
def HPR(P): 
    return (P.iloc[-1]/P.iloc[0] - 1)*100

**(D.3)** Verwenden Sie die Funktion `HPR()`, um die Gesamtrenditen aller Aktien im DataFrame `Preise` zu berechnen.

**(D.4)** Erstellen Sie den DataFrame `Renditen`, welcher die Tagesrenditen, berechnet aus den Preisdaten im DataFrame `Preise`, enthält. Verwenden Sie hierzu die nützliche Methode `pct_change()`.

**(D.5)** Erstellen Sie ein Histogramm der Tagesrenditen der Aktie von Apple mit 30 Klassen (bins). Versuchen Sie hierzu die Anweisung `Renditen.AAPL.hist(bins=30)`.

**(D.6)** Mit der Methode `quantile`, welche auf Series und DataFrames angewendet werden kann, können Quantile von Verteilungen bestimmt werden. Finden Sie von allen vier Titeln das 1%- und 5%-Quantil der Renditen (z. B. für nicht-parametrische Value-at-Risk-Berechnungen).

Hinweis zur Auswertung: Das 5%-Quantil von Apple beträgt etwa -2.5%. Dies bedeutet, dass etwa 5% der Tagerenditen unter -2.5% und 95% der Tagesrenditen darüber lagen.

**(D.7)** Berechnen Sie die Korrelation zwischen den Renditen von Apple (`AAPL`) und Google (`GOOG`) auf drei Nachkommastellen genau.

***
#### *Ende der Übung*