## Übungen zum Kapitel 4
### NumPy-Grundlagen
armin.baenziger@zhaw.ch, 13. Januar 2020
***

In [ ]:
%autosave 0

Bevor wir beginnen, erstellen wir 3 Listen:

In [1]:
list1 = [1, -2, 3, 0, 5, 2]
list2 = [2, 5, 5, 1, -1, 0]
list3 = [True, True, False, True, False, False]

**(A.1)** Laden Sie NumPy mit der üblichen Abkürzung.

**(A.2)** Erstellen Sie aus den drei Listen `list1`, `list2` und `list3` je einen NumPy-Array (Ndarray) mit den Namen `arr1`, `arr2`, `arr3`.

**(A.3)** Erstellen Sie einen Ndarray, bei dem jedes Element des Arrays das Doppelte von `arr1` ist.

**(A.4)** Erstellen Sie einen (2, 6)-Array `arr2x6`, bei dem die zwei *Zeilen* den beiden Listen `list1` und `list2` entsprechen.

**(A.5)** Erstellen Sie den (6, 2)-Array `arr6x2`, bei dem die zwei *Spalten* den beiden Listen `list1` und `list2` entsprechen. Hinweis: `arr2x6` transponieren.

**(A.6)** Erstellen Sie einen (3, 4)-Array mit lauter Nullen. Hinweis: Funktion `np.zeros`

**(A.7)** Erstellen Sie mit der Methode `reshape` einen (3, 2)-Array aus den Werten von `arr1`.

**(A.8)** Erstellen Sie den (6, 3)-Array mit Name `arr6x3`, der sich aus fortlaufenden Zahlen (0, 1, .., 17) zusammensetzt. Verwenden Sie hierzu die Funktion `np.arange` in Kombination mit der Methode `reshape`.

**(A.9)** Erstellen Sie den (4, 3)-Array mit Name `arr4x3`, der sich aus standardnormalverteilten Zufallszahlen zusammensetzt. Verwenden Sie hierzu die Funktion `random.randn`.

***

**(B.1)** Slicen Sie die ersten 3 Elemente aus `arr1`.

**(B.2)** Weisen Sie den ersten 2 Elementen von `arr1` den Wert 99 zu.

**(B.3)** Slicen Sie die ersten zwei Zeilen aus `arr6x3`.

**(B.4)** Slicen Sie die ersten zwei Spalten aus `arr6x3`.

**(B.5)** Erstellen Sie einen Array mit der ersten und dritten Zeile von `arr6x3`.

**(B.6)** Ziehen Sie diejenigen Werte aus `arr1`, bei denen in `arr3` an der entsprechenden Position `True` steht.

**(B.7)** Ziehen Sie diejenigen Werte aus `arr2`, bei denen in `arr1` an der entsprechenden Position `99` steht.

**(B.8)** Ziehen Sie diejenigen Werte aus `arr2`, bei denen in `arr1` an der entsprechenden Position `0` oder `99` steht.

**(B.9)** Ersetzten Sie *alle* negativen Werte in `arr4x3` durch 0.

***

**(C.1)** Erstellen Sie einen (4x5)-Array mit uniformverteilten (stetigen) Zufallsvariablen im Bereich `[0, 1)` (Funktion `np.random.rand`). Nennen Sie den Array `data`.

**(C.2)** Berechnen Sie die Summe *aller* Werte in `data`.

**(C.3)** Berechnen Sie pro Spalte den Mittelwert (insgesamt 5) mit der Methode `mean` und dem Argument `axis=0`.

**(C.4)** Erstellen Sie eine Liste, welche das Element von `list1` enthält, falls das Element in `list3` an der entsprechenden Position `True` ist. Ansonsten wird das Element von `list2` genommen. Lösen Sie die Aufgabe mit der Funktion `np.where`.

***
#### *Ende der Übung*

######