## Übungen zum Kapitel 7
### Datenaufbereitung - Säubern und Transformieren
Erstellt und überarbeitet: armin.baenziger@zhaw.ch, 21. Februar 2020
***

In [ ]:
%autosave 0

***

**(A.1)** Laden Sie NumPy und Pandas mit der üblichen Abkürzung.

**(A.2)** Laden Sie die Daten der Pickle-Datei `dflohn.pkl` mit `pd.read_pickle` in das DataFrame `dflohn` und lesen Sie die ersten 5 Zeilen aus. Die Datei befindet sich im Ordner "weitere_Daten".

In [ ]:
dflohn =

**(A.3)** Ermitteln Sie, wie viele `NaN` es gibt pro Spalte/Variable. Tipp: Die Methode `isnull()` gibt `True` zurück, falls `NaN` und ansonsten `False`. Die Methode `sum()` summiert `True` (1) und `False`(0) auf.

**(A.4)** Ermitteln Sie, *welchen Anteil* an `NaN` es gibt pro Spalte/Variable. Tipp: Der Mittelwert aus den `False`- und `True`-Werten ergibt den gewünschten Anteilswert.

**(A.5)** Lesen Sie die ersten 5 Zeilen aus `dflohn` aus, welche *keinen* Fehlwert haben. Tipp: Methode `dropna` und danach Methode `head`.

**(A.6)** Lesen Sie die ersten 5 Zeilen aus `dflohn` aus, wobei Fehlwerte mit dem Wert 0 ersetzt werden sollen. Tipp: Methode `fillna`.

**(A.7)** Lesen Sie die ersten 5 Zeilen aus `dflohn` aus, wobei Fehlwerte mit dem Median (der verfügbaren Werte) in der entsprechenden Spalte ersetzt werden sollen. Tipp: Methode `fillna`.

**(A.8)** Prüfen Sie, ob es Fälle (Zeilen) gibt, die mehr als einmal vorkommen. Tipp: Methode `duplicated`.

***

**(B.1)** Ermitteln Sie alle unterschiedlichen Ausprägungen des Merkmals (Spalte) `Zivilstand` in `dflohn`. Tipp: Methode `unique()` verwenden oder die Funktion `set()`.

**(B.2)** Erstellen Sie eine Kopie des DataFrame `dflohn` mit Name `dflohn2`.

**(B.3)** Ändern Sie die Ausprägungen von `Zivilstand` *in der Kopie* `dflohn2` wie folgt:
- `v` in `verh`
- `vw` in `verw`
- `l` und `g` bleiben gleich

Verwenden Sie hierzu die Methode `replace()` mit einem Dict, welches die Zuordnung enthält.

**(B.4)** Ändern Sie im DataFrame `dflohn2` (der Kopie!) den Spaltennamen `Lohn` in `Monatslohn`. Tipp: Methode `rename()` mit Argument `columns` verwenden.

***

Die folgenden Anweisungen teilen das Alter in Altersklassen ein.

In [ ]:
klassen = range(15, 66, 10)
dflohn['Altersklasse'] = pd.cut(dflohn.Alter, klassen)
dflohn.head()

**(C.1)** Erstellen Sie eine (absolute) Häufigkeitsverteilung der Variable `Altersklasse`.

**(C.2)** Sortieren Sie obige Häufigkeitstabelle nach den Altersklassen (bzw. *nicht* nach den Häufigkeiten). Tipp: Argument `sort=False` oder Methode `sort_index`.

**(C.3)** Erstellen Sie eine *relative* Häufigkeitsverteilung der Variable `Altersklasse`, wobei nach Altersklasse sortiert sein soll. Tipp: Zusätzlich das Argument `normalize=True` verwenden.

***

**(D.1)** Ziehen Sie eine Zufallsstichprobe (ohne Zurücklegen) aus `dflohn`, welche 5% der ursprünglichen Beobachtungen (Zeilen) enthält. Hinweis: `dflohn.sample()` und dann Shift-Tab ausführen.

**(D.2)** Erstellen Sie die Dummy-Variable `Geschlecht_w` im DataFrame `dflohn`, welche 0 ist, wenn es sich um einen Mann handelt (`m`) und 1, wenn es sich um eine Frau handelt (`w`).

***

Bevor wir mit den Stringmanipulationen beginnen, erzeugen wir einen Beispiel-String:

In [ ]:
zeichenkette = 'peter_vogt@test.com, m.mueller@test.com, banz(at)zhaw.ch'

**(E.1)** Wie viele `test.com`-Email-Adressen sind im String `zeichenkette` enthalten? Tipp: Methode `count()` verwenden.

**(E.2)** Erzeugen Sie die *Liste* `emails` mit den Email-Adressen aus dem String `zeichenkette`. Verwenden Sie hierzu die Methode `split`.

**(E.3)** Prüfen Sie, ob m.mueller@test.com in der Liste `emails` vorhanden ist.

**(E.4)** Transformieren Sie die Liste `emails` in die Series `emails`.

**(E.5)** Alle `(at)` in der Series `emails` sollen mit `@` ersetzt werden. Studieren Sie hierzu folgende Anweisung:

In [ ]:
emails.str.replace('\(at\)', '@')  
# \ ist der "Escape-Character". 
# Er bewirkt, dass "(" und ")" als Strings aufgefasst werden.

**(E.6)** Wie viele Email-Adressen in der Series `emails` enden mit ".ch"? Tipp: Methode `str.endswith()` verwenden.

***
#### *Ende der Übung*